{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Add Place</title>
<link rel="stylesheet" href="{% static 'css/auth.css' %}">
<link rel="stylesheet" href="{% static 'css/addplace.css' %}">
{% endblock meta %}

{% block content %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <div class="content">
        <div id="asset">
            <img class="invis" src="{% static 'img/Cat.svg' %}">
        </div>
        <div id="logindiv">
            <h2>Where have you been?</h1>
                <form id="loginform" method='POST'>
                    {% csrf_token %}
                    {{ form.place }}
                    <label for="{{ form.place.id_for_place }}">Place</label>
                    {{ form.date }}
                    <label for="{{ form.date.id_for_date }}" type="date">Date</label>
                    {{ form.desc }}
                    <label for="{{ form.desc.id_for_date }}">Description</label>
                    <button type="submit" class="btn btn-submit">Submit</button>
                </form>
        </div>
    </div>

    <script type="text/javascript" >
    $(document).ready(function(){
        $("#id_place").attr('placeholder', 'Place');
        $("#id_date").attr('placeholder', 'Date (mm/dd/yyyy)');
        $("#id_desc").attr('placeholder', 'Description');
    });
    </script>
    
    <!--
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img class="img-responsive img-center" src="{% static 'img/Cat.svg' %}">
                </div>
                <div class="col-md-6" id="logindiv">
                    <div class="logindiv">
                        
                            <h1 class="card-title">Where have you been?</h1>
                        
                        
                        <form method="POST">
                            {% csrf_token %}
                            {{ form.place }}
                            <label for="{{ form.place.id_for_place }}">Place</label>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
{% endblock content %}