{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>My Footprints</title>
<link rel="stylesheet" href="{% static 'css/myfootprints.css' %}">
{% endblock meta %}

{% block content %}



<div class="container-fluid">
    <div class="container">
        {% if not places %}
        <div class="row>"
        <div class="col-md-12">
            <h1 style="font-family: 'Rubik Black';
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 79px;
    text-align: center;
    color: #438A5E;">Looks like you don't have any footprints</h1>
            <br>
            <p style="font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 34.4941px;
    line-height: 79px;
    text-align: center;
    color: #436F8A;">Let's create one!</p>
            <br><br>
        </div>
        </div>

        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <table style="margin-right:auto;margin-left:auto;">
                    <tr>
                        <td>
                            <a href="{% url 'myfootprints:addfootprints' %}"><button class="btn btn-add" style="float:center;margin-bottom:32px;">CREATE ONE</button></a>
                        </td>
                        <td style="padding-left:40px;">
                            <a href="/"><button class="btn btn-back" style="float:center;margin-bottom:32px;">BACK</button></a>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-md-3"></div>
        </div>

        {% else %}
            {% for place in places reversed %}
                <div class="row isi">
                    <div class="col-md-3"></div>
                    <div class="col-md-6" style="text-align:center;">
                        <div class="card mf">
                            <br>
                            <div class="card-header">
                                <h1 id="place">{{ place.place }}</h1>
                                <h id='date'>{{ place.date }}</h2>
                            </div>
                            <br><br>
                            <p id="desc">{{ place.desc }}</p>
                            <br>
                            <a class="btn btn-update" style="float: center;margin-bottom:32px;" href="{% url 'myfootprints:update-place' place.id %}">Edit</a>
                            <a class="btn btn-delete" style="float: center;margin-bottom:32px;" href="{% url 'myfootprints:delete-place' place.id %}">Remove</a>
                        </div>
                    </div>
                    <div class="col-md-3"></div>
                </div>
            {% endfor %}
        
        
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <table style="margin-right:auto;margin-left:auto;">
                    <tr>
                        <td>
                            <a href="{% url 'myfootprints:addfootprints' %}"><button class="btn btn-add" style="float:center;margin-bottom:32px;">ADD PLACE</button></a>
                        </td>
                        <td style="padding-left:40px;">
                            <a href="/"><button class="btn btn-back" style="float:center;margin-bottom:32px;">BACK</button></a>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-md-3"></div>
        </div>
        {% endif %}

    </div>
</div>
{% endblock content %}