{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>About MyFootprints</title>
<link rel="stylesheet" href="{% static 'feedback.css' %}">
{% endblock meta %}

{% block sign %}<li id="sign"><a href="/auth/signin/">SIGN IN</a></li>{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img class="img-responsive img-center mf-logo-img" src="{% static 'img/about/mf-logo-about.png'%}" alt="mf-logo-about">
            </div>
            <div class="col-md-6 about-txt align-self-center">
                <p>MyFootprints is a platform that makes people note the last time they left home. User can input places they went during this pandemi. It is made by Computer Science University of Indonesia students.</p>
            </div>

            {% block feedback%}
            {% endblock feedback %}
            
            {% if user.is_authenticated %}
            {% if allFeedback %}
                <div class="col-md-12">
                <h2>Comments </h2><br>
                </div>
                {% for feedback in allFeedback reversed %} 
                <div class="feedback">
                    <div class="panel panel-default col-md-6 col-md-offset-3">
                        <div class="panel-body">
                            <h4> {{feedback.user.full_name}}
                            <p> on {{ feedback.date}} </p></h4>
                            <p> {{feedback.feedback}} </p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            {% endif %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}