{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Welcome to MyFootprints!</title>
{% endblock meta %}

{% block sign %}<li id="sign"><a href="/auth/signin/">SIGN IN</a></li>{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="container">
    </div class="row">

      <div class="col-md-6">
        <img class="img-responsive img-right people-img" src="{% static 'img/home-new-user/people-window.svg'%}" alt="people-window">
      </div>

      <div class="col-md-6 my-footprints-info">
        <div class="text-vertical-center">
          <br><br>
          <h1 style="margin-top:20px;">MY FOOTPRINTS</h1>
          <p>Note the last time you left home</p>
          <br><br>
          <a href="/auth/signup/" class="btn btn-start">START NOW</a>
        </div>
      </div>
        
    </div>
  </div>
</div>
{% endblock content %}
