{% extends 'base.html' %} {% load static %} {% block meta %}
<title>Info Corona</title>
<link rel="stylesheet" href="{% static 'css/feelings.css' %}">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'css/home-new-user.css' %}">
<link rel="stylesheet" href="{% static 'css/about.css' %}">
<link rel="stylesheet" href="{% static 'css/info-corona.css' %}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'css/home-new-user.css' %}">
<link rel="stylesheet" href="{% static 'css/about.css' %}">
<link rel="stylesheet" href="{% static 'css/info-corona.css' %}">
<style>
    @import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');
    @import url('https://fonts.googleapis.com/css?family=Poppins');
    .title {
        font-family: Poppins;
        font-style: normal;
        font-weight: 600;
        font-size: 34.4941px;
        line-height: 52px;
        color: #436F8A;
    }
    
    .color1 {
        background-color: #bbc763;
    }
    
    .color2 {
        background-color: #63c783;
    }
    
    .color3 {
        background-color: #6394c7;
    }
    
    .color4 {
        background-color: #ab63c7;
    }
    
    .color5 {
        background-color: #c7636c;
    }
    
    .color1,
    .color2,
    .color3,
    .color4,
    .color5 {
        color: white;
    }
    
    .title-card {
        font-family: 'Rubik';
        font-weight: 300;
        font-size: 18px;
        text-align: center;
    }
    
    .number {
        font-size: 28px;
        float: center;
        text-align: center;
    }
</style>

{% endblock meta %} {% block sign %}
<li id="sign"><a href="/auth/signin/">SIGN IN</a></li>{% endblock %} {% block content %}

<div class="container-fluid">
    <div class="container">
        <h1 class="title">COVID-19 Global Data</h1>
        <div class="row">
            <div class="card col m-2 color3">
                <div class="card-body">
                    <h4 class="card-title title-card">New Confirmed</h4>
                    <p class="card-text number">{{globalSummary.NewConfirmed}}</p>
                </div>
            </div>

            <div class="card col m-2 color4">
                <div class="card-body">
                    <h4 class="card-title title-card">Total Confirmed</h4>
                    <p class="card-text number">{{globalSummary.TotalConfirmed}}</p>
                </div>
            </div>

            <div class="card col m-2 color5">
                <div class="card-body">
                    <h4 class="card-title title-card">New Deaths</h4>
                    <p class="card-text number">{{globalSummary.NewDeaths}}</p>
                </div>
            </div>

            <div class="card col m-2 color2">
                <div class="card-body">
                    <h4 class="card-title title-card">New Recovered</h4>
                    <p class="card-text number">{{globalSummary.NewRecovered}}</p>
                </div>
            </div>

            <div class="card col m-2 color1">
                <div class="card-body">
                    <h4 class="card-title title-card">Total Recovered</h4>
                    <p class="card-text number">{{globalSummary.TotalRecovered}}</p>
                </div>
            </div>

        </div>

        <br><br><br><br>

        <h1 class="title">Country Wise Summary</h1>
        <table class="table">
            <thead>
                <tr class="title-card">
                    <th class="color3">No.</th>
                    <th class="color4">Country</th>
                    <th class="color5">Total Confirmed</th>
                    <th class="color2">Total Deaths</th>
                    <th class="color1">Total Recovered</th>
                </tr>
            </thead>
            <tbody>
                {% for c in countries %}
                <tr style="font-size:20px;">
                    <td style="text-align:center;" class="color3">{{forloop.counter}}</td>
                    <td style="padding-left:20px;">{{c.Country}}</td>
                    <td style="text-align:right;">{{c.TotalConfirmed}}</td>
                    <td style="text-align:right;">{{c.TotalDeaths}}</td>
                    <td style="text-align:right;">{{c.TotalRecovered}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
</div>
{% endblock %}